{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<style>

    @keyframes slide-in-left {
        0% { transform: translateX(-100%); }
        100% { transform: translateX(0); }
    }
    @keyframes slide-out-left {
        0% { transform: translateX(0); }
        100% { transform: translateX(-100%); }
    }
    @keyframes slide-in-right {
        0% { transform: translateX(100%); }
        100% { transform: translateX(0); }
    }
    @keyframes slide-out-right {
        0% { transform: translateX(0); }
        100% { transform: translateX(100%); }
    }
    .animate-slide-in-left {
        animation: slide-in-left 0.5s ease-in-out;
    }
    .animate-slide-out-left {
        animation: slide-out-left 0.5s ease-in-out;
    }
    .animate-slide-in-right {
        animation: slide-in-right 0.5s ease-in-out;
    }
    .animate-slide-out-right {
        animation: slide-out-right 0.5s ease-in-out;
    }
</style>
<body class="bg-gray-100 "> 

<h2 class="text-2xl text-center m-2 font-semibold">Select a Class</h2>

<div class="flex justify-around mx-auto">

<div class="flex justify-center items-center " onclick="previous()">
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full  bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
        </svg>
        <span class="sr-only">Previous</span>
    </span>
</div>

<div class="w-full lg:w-1/3 p-4" id="main_container">
    {% for info in class_info %}
    <div class="p-4 bg-white rounded {{ 'hidden' if not loop.first else 'block' }}" id="{{loop.index}}">
        <div class="relative h-40 w-full mb-4">
        <img class="w-full h-full object-cover rounded" src="https://images.unsplash.com/photo-1506792006437-256b665541e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" alt="">
        <span class="absolute top-0 right-0 py-1 px-2 mt-2 mr-2 bg-indigo-500 rounded text-xs text-white">{{info.class_info['num_students']}} Students</span>
        </div>
        <div class="flex mb-6 justify-between items-center">
        <div>
            <h3 class="text-sm font-medium">{{info.class_info['class_name']}}</h3>
            <span class="text-xs text-gray-500">{{info.class_info['branch']}}</span>
        </div>
        <button class="ml-auto p-2 bg-indigo-50 rounded">
            <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.99984 9.33335C8.73622 9.33335 9.33317 8.7364 9.33317 8.00002C9.33317 7.26364 8.73622 6.66669 7.99984 6.66669C7.26346 6.66669 6.6665 7.26364 6.6665 8.00002C6.6665 8.7364 7.26346 9.33335 7.99984 9.33335Z" fill="#382CDD"></path>
            <path d="M3.33333 9.33335C4.06971 9.33335 4.66667 8.7364 4.66667 8.00002C4.66667 7.26364 4.06971 6.66669 3.33333 6.66669C2.59695 6.66669 2 7.26364 2 8.00002C2 8.7364 2.59695 9.33335 3.33333 9.33335Z" fill="#382CDD"></path>
            <path d="M12.6668 9.33335C13.4032 9.33335 14.0002 8.7364 14.0002 8.00002C14.0002 7.26364 13.4032 6.66669 12.6668 6.66669C11.9304 6.66669 11.3335 7.26364 11.3335 8.00002C11.3335 8.7364 11.9304 9.33335 12.6668 9.33335Z" fill="#382CDD"></path>
            </svg>
        </button>
        </div>
        <div class="flex mb-2 justify-between items-center">
        <h4 class="text-xs font-medium">Start</h4>
        <span class="inline-block py-1 px-2 rounded-full bg-green-50 text-xs text-green-500">{{info.class_info['startdate']}}</span>
        </div>
        <div class="flex mb-2 justify-between items-center">
        <h4 class="text-xs font-medium">Final Date</h4>
        <span class="inline-block py-1 px-2 rounded-full bg-red-50 text-xs text-red-500">{{info.class_info['enddate']}}</span>
        </div>
        <div class="flex mb-5 justify-between items-center">
        <h4 class="text-xs font-medium">Last Change</h4>
        <span class="text-xs text-indigo-500 font-medium">6 days ago</span>
        </div>
        <div class="mx-auto w-full items-center flex">
        
        <a class="items-center mx-auto py-2 px-3 w-full bg-indigo-500 hover:bg-indigo-600 rounded text-xs text-white transition duration-200" onclick="redirect(`/{{username}}/attendance/{{info.class_info['class_name']}}`)">Select</a>
        </div>
    

    </div>
    {% endfor %}
</div>

<div class="flex justify-center items-center " onclick="next()">
    <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span class="sr-only">Next</span>
    </span>
</div>

</div>


</body>
<script>

    let main = document.getElementById('main_container')
    count = main.childElementCount
    let currentid = 1

    function next2() {
    console.log(currentid);

    let current = document.getElementById(currentid);
    if (current) {
        current.classList.add('hidden');
    }

    currentid = (currentid % count) + 1;

    let next = document.getElementById(currentid);
    if (next) {
        next.classList.remove('hidden');
    }
}

    function next() {
        let current = document.getElementById(currentid);
        let nextid = (currentid % count) + 1;
        let next = document.getElementById(nextid);

        if (current && next) {
            current.classList.add('animate-slide-out-left');
            next.classList.add('animate-slide-in-right', 'block');
            next.classList.remove('hidden');

            setTimeout(() => {
                current.classList.remove('animate-slide-out-left', 'block');
                current.classList.add('hidden');
                next.classList.remove('animate-slide-in-right');
            }, 500);

            currentid = nextid;
        }
    }

    function previous() {
        let current = document.getElementById(currentid);
        let previousid = (currentid - 1) || count;
        let previous = document.getElementById(previousid);

        if (current && previous) {
            current.classList.add('animate-slide-out-right');
            previous.classList.add('animate-slide-in-left', 'block');
            previous.classList.remove('hidden');

            setTimeout(() => {
                current.classList.remove('animate-slide-out-right', 'block');
                current.classList.add('hidden');
                previous.classList.remove('animate-slide-in-left');
            }, 500);

            currentid = previousid;
        }
    }
    
    function previous2() {
        console.log(currentid);

        let current = document.getElementById(currentid);
        if (current) {
            current.classList.add('hidden');
        }

        currentid = (currentid - 1) || count;

        let previous = document.getElementById(currentid);
        if (previous) {
            previous.classList.remove('hidden');
        }
    }
</script>



{% endblock %}





